footer.footer {
    background: var(--black);
}

.footertop {
    padding: 100px 0 82px;

    ul {
        text-align: center;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 60px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: "Inter", sans-serif;
                color: #fff;
            }
        }
    }
}

.footerbott {
    background: #1C1C1C;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        margin: 0;
        color: #fff;
        font-size: 15px;
        line-height: 170%;
    }
}


.footerlogo img {
    max-width: 100%;
}

.totop img {
    width: 65px;
}

.footertop ul li a {
    transition: 0.3s;

    &:hover {
        color: var(--red);
    }
}


@media(max-width:1599.8px) {
    .footertop {
        padding: 60px 0 50px;
    }

    .footertop ul li {
        margin-right: 45px;
    }
}

@media(max-width:1399.8px) {
    .footertop ul li {
        margin-right: 20px;
    }
}

@media(max-width:1199.8px) {
    .footertop ul li a {
        font-size: 15px;
    }

}

@media(max-width:991.8px) {
    .footerlogo {
        width: 210px;
        text-align: center;
        display: block;
        margin: 0 auto 30px;
    }

    .totop {
        display: inline-block;
        position: absolute;
        right: 0;
        top: -10px;
    }

    .footertop {
        padding: 50px 0;
    }

    footer.footer {
        position: relative;

        .container {
            position: relative;
        }
    }
}

@media(max-width:575.8px) {

    .totop {
        width: 40px;
        height: 40px;
        right: 12px;
        top: 0;

        img {
            width: 100%;
        }
    }

    .footertop ul li {
        margin: 0 10px 5px 10px;
    }

    .footertop {
        padding: 40px 0 30px;
    }

    .footerbott p {
        font-size: 14px;
    }

    .footerbott {
        padding: 4px 0;
        height: auto;
        min-height: 42px;
    }
}